@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  color: #0ccac4;
  position: sticky;
}

SearchBox {
  position: sticky;
}

#Scroll {
  height: 84.5vh;
  box-shadow: -5px 0px 20px -5px black;
}
